root = true

[*.cs]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true

dotnet_style_prefer_collection_expression = false:suggestion
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_prefer_braces = true:warning
csharp_preserve_single_line_blocks = false
csharp_preserve_single_line_statements = false

[*.{csproj,props,slnx,xml}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 2
insert_final_newline = true
